body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: min-content auto min-content;
  background-color: #f2e9d8;
  font-size: 16px;
}

header {
  background-color: #f3deb3;
  box-shadow: 0 0 15px 0 black;
  z-index: 99;
}

.logo {
  float: left;
  position: relative;
  top: 12px;
}

.slogan {
  font-size: 24px;
  color: white;
  font-style: italic;
}

.navigation {
  clear: both;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.navigation a {
  font-weight: bold;
  text-decoration: none;
  color: #000000;
  padding: 0 25px 3px;
  margin-bottom: 7px;
}
.navigation a:not(:last-child) {
  border-right: 2px solid black;
}
.navigation a:hover {
  color: gray;
}

.intro {
  background: url(../image/intro.jpg) center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 200px;
  box-shadow: 0 0 10px 0 black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro h1 {
  color: #ffffff;
  font-size: 66px;
  font-style: italic;
}

.card-title {
  font-style: italic;
  font-size: 24px;
}

.card {
  min-height: 250px;
  background-repeat: no-repeat;
  background-size: 102% 102%;
  background-position: center;
  transition: background-size 1s, transform 1s;
}
.card:hover {
  background-size: 120% 120%;
  transform: scale(107%);
}
.card-bg-1 {
  background-image: url(../image/chapter-1.jpg);
}
.card-bg-2 {
  background-image: url(../image/chapter-2.jpg);
}
.card-bg-3 {
  background-image: url(../image/chapter-3.jpg);
}
.card-bg-4 {
  background-image: url(../image/chapter-4.jpg);
}
.card-bg-5 {
  background-image: url(../image/chapter-5.jpg);
}
.card-bg-6 {
  background-image: url(../image/chapter-6.jpg);
}
.card-img-overlay {
  backdrop-filter: blur(2px) grayscale(100%);
}
.card-img-overlay:hover {
  backdrop-filter: none;
}
.card-img-overlay-js {
  backdrop-filter: none;
}
.card-js {
  background-size: 120% 120%;
  transform: scale(107%);
}
