body {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  -ms-grid-rows: min-content auto min-content;
      grid-template-rows: -webkit-min-content auto -webkit-min-content;
      grid-template-rows: min-content auto min-content;
  background-color: #f2e9d8;
  font-size: 16px;
}

header {
  background-color: #f3deb3;
  -webkit-box-shadow: 0 0 15px 0 black;
          box-shadow: 0 0 15px 0 black;
  z-index: 99;
}

.logo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  position: relative;
  top: 10px;
  left: 20px;
}

.slogan {
  font-size: 24px;
  color: white;
  font-style: italic;
  position: relative;
  left: 30px;
  top: 15px;
}

.navigation {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation a {
  font-weight: bold;
  text-decoration: none;
  color: #000000;
  padding: 0 25px 3px;
  margin-bottom: 7px;
}

.navigation a:not(:last-child) {
  border-right: 2px solid black;
}

.navigation a:hover {
  color: gray;
}

.intro {
  background: url(../image/intro.jpg) center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 200px;
  -webkit-box-shadow: 0 0 10px 0 black;
          box-shadow: 0 0 10px 0 black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.intro-mini {
  min-height: 110px;
}

.intro h1 {
  color: #ffffff;
  font-size: 66px;
  font-style: italic;
}

.card-title {
  font-style: italic;
  font-size: 24px;
}

.card {
  min-height: 250px;
  background-repeat: no-repeat;
  background-size: 102% 102%;
  background-position: center;
  -webkit-transition: background-size 1s, -webkit-transform 1s;
  transition: background-size 1s, -webkit-transform 1s;
  transition: background-size 1s, transform 1s;
  transition: background-size 1s, transform 1s, -webkit-transform 1s;
}

.card:hover {
  background-size: 120% 120%;
  -webkit-transform: scale(107%);
          transform: scale(107%);
}

.card-bg-1 {
  background-image: url(../image/chapter-1.jpg);
}

.card-bg-2 {
  background-image: url(../image/chapter-2.jpg);
}

.card-bg-3 {
  background-image: url(../image/chapter-3.jpg);
}

.card-bg-4 {
  background-image: url(../image/chapter-4.jpg);
}

.card-bg-5 {
  background-image: url(../image/chapter-5.jpg);
}

.card-bg-6 {
  background-image: url(../image/chapter-6.jpg);
}

.card-img-overlay {
  -webkit-backdrop-filter: blur(2px) grayscale(100%);
          backdrop-filter: blur(2px) grayscale(100%);
}

.card-img-overlay:hover {
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
}

.card-img-overlay-js {
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
}

.card-js {
  background-size: 120% 120%;
  -webkit-transform: scale(107%);
          transform: scale(107%);
}

.nav-chapter {
  font-size: 28px;
  font-weight: bold;
}

.nav-link {
  padding: 7px 40px 3px;
}

.without-nav {
  margin-top: 74px;
}

.tab-pane {
  background-color: #fff;
  padding: 35px 60px;
  margin-bottom: 40px;
}

.nav-tabs .nav-link:not(.active):hover {
  border-color: #f2e9d8;
  border-bottom: 1px solid #000;
}
/*# sourceMappingURL=main.css.map */